In [1]:
import pandas as pd

In [2]:
pd.set_option("display.unicode.east_asian_width", True)  # 适配中文对齐
pd.set_option("display.unicode.ambiguous_as_wide", True)  # 适配全角字符

In [3]:
s1 = pd.Series([5,17,3,26,31])

In [4]:
s1

0     5
1    17
2     3
3    26
4    31
dtype: int64

pandas的Series的输出值会出现索引和变量类型,比numpy多一个新的索引方法（标签索引），切片同时也可以用标签索引（但此时结束值是包含的）,还可以取出特定索引位置的元素
s1[["a","e","c"]]  或者 s1[[0,4,3]]

In [5]:
s1.values

array([ 5, 17,  3, 26, 31])

In [6]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
s1[2]

np.int64(3)

In [8]:
s1[1:3]

1    17
2     3
dtype: int64

使用index创建索引     s3=pd.Series([4.1,2.2,5.3],index=["qc","bls","xhs"]
另一种创建Series的方法 s3=pd.Series({"qc":4.1,"bls":3.2,"xhs":5.3})

In [9]:
s2 = pd.Series([5,17,3,26,31],index = ["a" , "d" , "b" , "c" , "e"])
s2

a     5
d    17
b     3
c    26
e    31
dtype: int64

In [10]:
s2["d":"c"]

d    17
b     3
c    26
dtype: int64

In [11]:
s2[1:3]

d    17
b     3
dtype: int64

s2.loc[1:3] loc表示用标签索引去取值或切片
s2.iloc[1:3] iloc表示用位置索引去取值或切片
不用loc和iloc方法的时候 索引时候按标签取值s2【3】输出17，切片时按位置取值s2【2:4】输出 5 7 3 26

In [12]:
s5 = pd.Series([-1.2,3.7,2.5,-8.2,6.3])

In [13]:
print(s5.index)
print(s5.values)

RangeIndex(start=0, stop=5, step=1)
[-1.2  3.7  2.5 -8.2  6.3]

In [14]:
s6 = pd.Series([1,2,3,4,5],index=[5,4,3,2,1])
s6

5    1
4    2
3    3
2    4
1    5
dtype: int64

In [15]:
s7 = pd.Series({5:1,4:2,3:3,2:4,1:5})
s7

5    1
4    2
3    3
2    4
1    5
dtype: int64

In [16]:
s6.loc[4]

np.int64(2)

In [17]:
s6.iloc[2]

np.int64(3)

In [18]:
s6.loc[5:3]

5    1
4    2
3    3
dtype: int64

In [19]:
s8 = pd.Series({"小李":82,"小陈":93,"小张":91})
s8

小李    82
小陈    93
小张    91
dtype: int64

In [20]:
s8.loc["小张"]=95
s8

小李    82
小陈    93
小张    95
dtype: int64

In [21]:
s8[(s8>80)&(s8<90)]

小李    82
dtype: int64

Series和Series操作会自动根据索引进行对齐操作（+-*/），如果某个索引只在一个Series出现，则返回NaN，只有当某个索引提示出现在两个Series才有其对应的值
如果想给NAN一个值的话，可以用方法而不是符号进行操作，s1.add/sub/mul/div(s2,fill_value=0)  如果一个数据在A不在B，则把它在B中先赋值为0然后进行计算
Series也有max min sum mean方法
还有个很强大的方法s1.describe（）能直接告诉元素个数、平均值、标准差、最小值、第一四分位数、中位数、第二四分位数、最大值
单个数字和Series进行操作时候，和numpy一样有广播机制
apply函数 grades=scores.apply(get_grade_from_score) apply方法接受函数作为参数，调用时候分别把series里各个元素分别作为那个函数的参数，返回Series的元素，就是那个函数对原始Series的各个元素调用后的结果（并不改变原始Series，生成一个新的Series）
Series.astype('int') 可以把数据类型转换为整数

In [22]:
s1 = pd.Series([92,67,70,88,76] , index=["小明","小红","小杰","小丽","小华"])
s2 = pd.Series([95,85,60,79,76] , index=["小明","小杰","小宇","小娟","小彤"])
print(s1)
print(s2)

小明    92
小红    67
小杰    70
小丽    88
小华    76
dtype: int64
小明    95
小杰    85
小宇    60
小娟    79
小彤    76
dtype: int64

In [23]:
s3=s1.add(s2,fill_value = 0)
print(s3)
s1.describe()

小丽     88.0
小华     76.0
小娟     79.0
小宇     60.0
小彤     76.0
小明    187.0
小杰    155.0
小红     67.0
dtype: float64

count     5.000000
mean     78.600000
std      10.990905
min      67.000000
25%      70.000000
50%      76.000000
75%      88.000000
max      92.000000
dtype: float64

In [24]:
s1 = s1+5
s1

小明    97
小红    72
小杰    75
小丽    93
小华    81
dtype: int64

In [25]:
def  get_grade_from_s1(score):
    if score >=90 :
        return "A"
    elif 90> score >=80 :
        return "B"
    elif 80> score >=70 :
        return "C"
    elif 70> score >=60 :
        return "D"
    elif 60> score :
        return "不及格"
S4 = s1.apply(get_grade_from_s1)
S4

小明    A
小红    C
小杰    C
小丽    A
小华    B
dtype: object

DataFrame是由多个Series组成的，像是由Series组成的字典有索引也有列名,会根据索引自动对齐不同Series的元素
第一种创建方法：参数传入一个字典，值是Series 键的其对应的列名
第二种创建方法:嵌套字典，有标签索引；最外层的键对应列名，值对应Series，里层字典的键对应Series的标签索引
df.index获得df的所有索引
de.columns获得df的所有列名
de.values获得df的所有值
de.T 返回的结果会把行列转置
df['列名']把列名对应的列提取出来
df.列名也和上面一样，但如果列名里面有空格/特殊符号只能通过[]
提出多个列df[["列名1","列名2"]]  传入的是列表
df.loc[]  标签索引包括结束值
df.iloc[] 位置索引不包括结束值
切片是一样的
de.loc/iloc["行","列"] 可以提取出某个位置上的值  切片的时候不需要再加上【】
de.loc/iloc["行1"："行2","列1"："列2"]  即前一个是行切片，后一个是列切片
de.head()展现前五行，也可以传入参数

In [26]:
s_id = pd.Series(["01","02","03","04","05"])
s_class = pd.Series(["二班","一班","二班","三班","一班"])
s_grade = pd.Series(["小明","小红","小杰","小丽","小华"])
df3 = pd.DataFrame({"学号":s_id,"班级":s_class,"成绩":s_grade})
print(df3)
print(df3.values)
print(df3.columns)
print(df3.index)
print(df3.T)

  学号  班级  成绩
0   01  二班  小明
1   02  一班  小红
2   03  二班  小杰
3   04  三班  小丽
4   05  一班  小华
[['01' '二班' '小明']
 ['02' '一班' '小红']
 ['03' '二班' '小杰']
 ['04' '三班' '小丽']
 ['05' '一班' '小华']]
Index(['学号', '班级', '成绩'], dtype='object')
RangeIndex(start=0, stop=5, step=1)
         0     1     2     3     4
学号    01    02    03    04    05
班级  二班  一班  二班  三班  一班
成绩  小明  小红  小杰  小丽  小华

In [27]:
name = pd.Series(["小陈","小李","小王","小张","小赵","小周"], index=["001","002","003","004","005","006"])
gender = pd.Series(["女","女","男","男","女","男"], index=["006","005","004","003","002","001"])
height = pd.Series([172.5,168.0,178.2,181.3,161.7], index=["001","002","003","004","005"])
print(name)
print(gender)
print(height)

001    小陈
002    小李
003    小王
004    小张
005    小赵
006    小周
dtype: object
006    女
005    女
004    男
003    男
002    女
001    男
dtype: object
001    172.5
002    168.0
003    178.2
004    181.3
005    161.7
dtype: float64

In [28]:
students = pd.DataFrame({"姓名":name,"性别":gender,"身高":height})
print(students)
print(students.index)
print(students.columns)
print(students.T)
print(students["身高"])

     姓名 性别   身高
001  小陈   男  172.5
002  小李   女  168.0
003  小王   男  178.2
004  小张   男  181.3
005  小赵   女  161.7
006  小周   女    NaN
Index(['001', '002', '003', '004', '005', '006'], dtype='object')
Index(['姓名', '性别', '身高'], dtype='object')
        001    002    003    004    005   006
姓名   小陈   小李   小王   小张   小赵  小周
性别     男     女     男     男     女    女
身高  172.5  168.0  178.2  181.3  161.7   NaN
001    172.5
002    168.0
003    178.2
004    181.3
005    161.7
006      NaN
Name: 身高, dtype: float64

In [29]:
print(students[["性别","身高"]])
print(students.loc["003"])
print(students.loc[["003","004","005"]])
print(students["003":"005"])

    性别   身高
001   男  172.5
002   女  168.0
003   男  178.2
004   男  181.3
005   女  161.7
006   女    NaN
姓名     小王
性别       男
身高    178.2
Name: 003, dtype: object
     姓名 性别   身高
003  小王   男  178.2
004  小张   男  181.3
005  小赵   女  161.7
     姓名 性别   身高
003  小王   男  178.2
004  小张   男  181.3
005  小赵   女  161.7

In [30]:
print(students.loc["005","身高"])
print(students.loc[["003","005"],["姓名","身高"]])
print(students.loc[["003","005"],:])

161.7
     姓名   身高
003  小王  178.2
005  小赵  161.7
     姓名 性别   身高
003  小王   男  178.2
005  小赵   女  161.7

In [31]:
students[(students["身高"] > 165) & (students["性别"] == "女")]

     姓名 性别   身高
002  小李   女  168.0

In [32]:
students.head()

     姓名 性别   身高
001  小陈   男  172.5
002  小李   女  168.0
003  小王   男  178.2
004  小张   男  181.3
005  小赵   女  161.7

In [33]:
students.head(2)

     姓名 性别   身高
001  小陈   男  172.5
002  小李   女  168.0

DataFrame【“列名”】=pd.Series（【，，，】，index=【，，，】） 按照index自动对齐
DataFrame【“列名”】=【，，，】 或者 直接是Python的列表，自动对齐
如果没有这一列则会增加这一列数据，没有标签对应的则会产生NaN缺失值
更新行同理，只能使用.loc【】（iloc会报错） 此时需要index=【“列名”】，所以此时列表更省事，不需要index
DataFrame.drop（行标签索引/【标签1，标签2】）进行删除某行数据，不改变原来的DataFrame，返回新的，所以如果要用改变后的DF，则用新的DF进行接受
DataFrame.drop（列名/【标签1.标签2】，axis=1）axis是轴线的意思，axis=0表示沿着索引纵向进行操作，axis=1表示沿着列名横向进行操作
DF和DF进行操作，索引和索引，列名和列名相同（列行都要一样）的去进行操作==和series一样，没有的就NaN
df1.add（df2.fill_value=0）即可同样如同Series进行操作，得到非缺失值结果，如果两个DF都不存在，所以没有数被赋为0，所以为NaN（结果会保持所有的索引和列名）
DF和Series进行操作时，会拿Series的索引和DF的列名进行操作，即Series索引和DF列名相同的时候，会把S中的元素作用到DF列中每一个元素中


mean默认操作都是axis=0 纵向操作，返回的平均值和列名对应
axis=1计算各行的平均值 返回的平均值和索引对应

DF.apply(函数) axis=0对列进行操作 axis=1对行进行操作
DF.applymap（函数） 会被运用到每行每列的元素上
都是返回一个新的DF，所以要接受
DF.describe（） 会自动只计算数字列的统计信息

In [34]:
students1 =  pd.DataFrame({"001":{"姓名":"小陈","考试1":85,"考试2":95,"考试3":92},
                           "002":{"姓名":"小李","考试1":91,"考试2":92,"考试3":94},
                           "003":{"姓名":"小王","考试1":86,"考试2":81,"考试3":89},
                           "004":{"姓名":"小张","考试1":79,"考试2":89,"考试3":95},
                           "005":{"姓名":"小赵","考试1":96,"考试2":91,"考试3":91},
                           "006":{"姓名":"小周","考试1":81,"考试2":89,"考试3":92}})
students2 = students1.T
students2

     姓名 考试1 考试2 考试3
001  小陈    85    95    92
002  小李    91    92    94
003  小王    86    81    89
004  小张    79    89    95
005  小赵    96    91    91
006  小周    81    89    92

In [35]:
students2["考试4"] = [72,69,79,83,82,76]
students2.loc["007"] = ["小杨",79,83,81,69] 
students2

     姓名 考试1 考试2 考试3  考试4
001  小陈    85    95    92     72
002  小李    91    92    94     69
003  小王    86    81    89     79
004  小张    79    89    95     83
005  小赵    96    91    91     82
006  小周    81    89    92     76
007  小杨    79    83    81     69

In [36]:
students3 = students2.drop(["006","007"])
students4 = students3.drop(["考试2","考试4"],axis = 1)
students4

     姓名 考试1 考试3
001  小陈    85    92
002  小李    91    94
003  小王    86    89
004  小张    79    95
005  小赵    96    91

In [37]:
bonus =pd.Series({"考试1":2,"考试2":3,"考试3":2,"考试4":5})
students2[["考试1","考试2","考试3","考试4"]]+bonus

    考试1 考试2 考试3  考试4
001    87    98    94     77
002    93    95    96     74
003    88    84    91     84
004    81    92    97     88
005    98    94    93     87
006    83    92    94     81
007    81    86    83     74

In [40]:
students5 =  pd.DataFrame({"001":{"姓名":"小陈","考试1":85,"考试2":95,"考试3":92},
                           "002":{"姓名":"小李","考试1":91,"考试2":92,"考试3":94},
                           "003":{"姓名":"小王","考试1":86,"考试2":81,"考试3":89},
                           "004":{"姓名":"小张","考试1":79,"考试2":89,"考试3":95},
                           "005":{"姓名":"小赵","考试1":96,"考试2":91,"考试3":91},
                           "006":{"姓名":"小周","考试1":81,"考试2":89,"考试3":92}})
students5 = students5.T
students5

     姓名 考试1 考试2 考试3
001  小陈    85    95    92
002  小李    91    92    94
003  小王    86    81    89
004  小张    79    89    95
005  小赵    96    91    91
006  小周    81    89    92

In [46]:
average = students5.loc[:,"考试1":"考试3"].mean(axis=1)
name = students5["姓名"]
student_avera = pd.DataFrame({"姓名":name,"平均分":average})
student_avera

     姓名     平均分
001  小陈  90.666667
002  小李  92.333333
003  小王  85.333333
004  小张  87.666667
005  小赵  92.666667
006  小周  87.333333

In [49]:
students5["考试1"] = students5["考试1"].astype('int')
students5["考试2"] = students5["考试2"].astype('int')
students5["考试3"] = students5["考试3"].astype('int')
students5.describe()

           考试1      考试2      考试3
count   6.000000   6.000000   6.000000
mean   86.333333  89.500000  92.166667
std     6.314006   4.722288   2.136976
min    79.000000  81.000000  89.000000
25%    82.000000  89.000000  91.250000
50%    85.500000  90.000000  92.000000
75%    89.750000  91.750000  93.500000
max    96.000000  95.000000  95.000000